.App {
  font-family: Verdana, sans-serif;
  font-weight: 300;

}

/* h1,p,etc */

.App h1 {

  color: white;
  text-shadow: 2px 2px black;

}

.App p {

  font-size: x-large;
  color: black;

}

.App hr {

  border: solid;
  border-width: 2px;


}


a {
  text-decoration: none !important;
}